<div class="page-header">
  <div class="pull-right">
    <%= link_to "Back", company_path(@company), class: "btn btn-info" %>
  </div>
  <h1><%= @product.name %></h1>

</div>


<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @product.name %></dd>
  <dt>Department</dt>
  <dd><%= @product.department %></dd>
  <dt>Price</dt>
  <dd>$ <%= @product.price %></dd>
  <br/>
  <dt>Product Rating</dt>
  <br/>
  <% @reviews.each do |review| %>
    <dd><h4><%= "#{review.title}: #{review.rating}" %></h4></dd>
    <dd> <%= review.description %> </dd><br/>
  <% end %>

</dl>
